<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cozinhaItemConfigurations</key>
	<dict>
		<key>microondas</key>
		<dict/>
		<key>Um microondas não gasta só quando ligado, mas a porta aberta cende sua luz!</key>
		<string></string>
		<key>luz</key>
		<dict/>
		<key>Uma casa gasta com energia, normalmente, 1 arvore em 10 meses.</key>
		<string></string>
		<key>geladeira</key>
		<dict/>
		<key>Uma geladeira fechada queima uma arvore cada 2 meses. Uma aberta gasta 5 arvores.</key>
		<string></string>
		<key>torneira</key>
		<dict/>
		<key>Uma goteira gasta em um dia o que você come e bebe em 2 semanas.</key>
		<string></string>
	</dict>
	<key>cozinhaItemData</key>
	<array>
		<dict>
			<key>x</key>
			<real>0.5</real>
			<key>y</key>
			<real>0.5</real>
			<key>type</key>
			<string>microondas</string>
		</dict>
		<dict>
			<key>x</key>
			<real>0.5</real>
			<key>y</key>
			<real>0.95</real>
			<key>type</key>
			<string>luz</string>
		</dict>
		<dict>
			<key>x</key>
			<real>0.8</real>
			<key>y</key>
			<real>0.4</real>
			<key>type</key>
			<string>geladeira</string>
		</dict>
		<dict>
			<key>x</key>
			<real>0.2</real>
			<key>y</key>
			<real>0.5</real>
			<key>type</key>
			<string>torneira</string>
		</dict>
	</array>
</dict>
</plist>
