<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cozinhaItemConfigurations</key>
	<dict>
		<key>microondas</key>
		<dict>
			<key>msg</key>
			<string>Um microondas não gasta só quando ligado, mas a porta aberta cende sua luz!</string>
		</dict>
		<key>luz</key>
		<dict>
			<key>msg</key>
			<string>Uma casa gasta com energia, normalmente, 1 arvore em 10 meses.</string>
		</dict>
		<key>geladeira</key>
		<dict>
			<key>msg</key>
			<string>Uma geladeira fechada queima uma arvore cada 2 meses. Uma aberta gasta 5 arvores.</string>
		</dict>
		<key>torneira</key>
		<dict>
			<key>msg</key>
			<string>Uma goteira gasta em um dia o que você come e bebe em 2 semanas.</string>
		</dict>
	</dict>
	<key>cozinhaItemData</key>
	<array>
		<dict>
			<key>x</key>
			<real>0.665</real>
			<key>y</key>
			<real>0.635</real>
			<key>type</key>
			<string>microondas</string>
		</dict>
		<dict>
			<key>x</key>
			<real>0.47</real>
			<key>y</key>
			<real>0.8305</real>
			<key>type</key>
			<string>luz</string>
		</dict>
		<dict>
			<key>x</key>
			<real>0.8825</real>
			<key>y</key>
			<real>0.525</real>
			<key>type</key>
			<string>geladeira</string>
		</dict>
		<dict>
			<key>x</key>
			<real>0.0625</real>
			<key>y</key>
			<real>0.615</real>
			<key>type</key>
			<string>torneira</string>
		</dict>
	</array>
</dict>
</plist>
