<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>quartoItemConfigurations</key>
	<dict>
		<key>computador</key>
		<dict>
			<key>msg</key>
			<string>Um computador ligado por 40   dias gasta uma arvore inteira queimada.</string>
		</dict>
		<key>luz</key>
		<dict>
			<key>msg</key>
			<string>Lampadas fluorescentes gastam apenas metade das comuns.</string>
		</dict>
		<key>rádio</key>
		<dict>
			<key>msg</key>
			<string>1 hora de radio gasta o mesmo  que 7 horas de uma lampada   acesa.</string>
		</dict>
		<key>abajur</key>
		<dict>
			<key>msg</key>
			<string>  3 horas de lâmpada acesa    custam cerca de 1 real</string>
		</dict>
	</dict>
	<key>quartoItemData</key>
	<array>
		<dict>
			<key>x</key>
			<real>0.835</real>
			<key>y</key>
			<real>0.505</real>
			<key>type</key>
			<string>computador</string>
		</dict>
		<dict>
			<key>x</key>
			<real>0.46</real>
			<key>y</key>
			<real>0.8305</real>
			<key>type</key>
			<string>luz</string>
		</dict>
		<dict>
			<key>x</key>
			<real>0.738</real>
			<key>y</key>
			<real>0.8100000000000001</real>
			<key>type</key>
			<string>rádio</string>
		</dict>
		<dict>
			<key>x</key>
			<real>0.2955</real>
			<key>y</key>
			<real>0.445</real>
			<key>type</key>
			<string>abajur</string>
		</dict>
	</array>
</dict>
</plist>
