<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>salaItemConfigurations</key>
	<dict>
		<key>televisão</key>
		<dict>
			<key>Para manter uma televisão ligada por 1 hora por dia, precisamos queimar 8 quilos de carvão por mes.</key>
			<string></string>
		</dict>
		<key>luz</key>
		<dict>
			<key>Uma lâmpada comum acesa por um mes, consome o mesmo que uma geladeira.</key>
			<string></string>
		</dict>
		<key>video_game</key>
		<dict>
			<key>1 ano de video game gasta a energia de metade de uma arvore queimada.</key>
			<string></string>
		</dict>
		<key>abajur</key>
		<dict/>
		<key>3 horas de lâmpada acesa custam cerca de 1 real</key>
		<string></string>
	</dict>
	<key>salaItemData</key>
	<array>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
			<key>type</key>
			<string>televisão</string>
		</dict>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
			<key>type</key>
			<string>luz</string>
		</dict>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
			<key>type</key>
			<string>video_game</string>
		</dict>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
			<key>type</key>
			<string>abajur</string>
		</dict>
	</array>
</dict>
</plist>
