<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>salaItemConfigurations</key>
	<dict>
		<key>televisão</key>
		<dict>
			<key>msg</key>
			<string>Para manter uma televisão     ligada por 1 hora por dia,    precisamos queimar 8 quilos de carvão por mes.</string>
		</dict>
		<key>luz</key>
		<dict>
			<key>msg</key>
			<string>Uma lâmpada comum acesa por um mes, consome o mesmo que uma geladeira.</string>
		</dict>
		<key>video_game</key>
		<dict>
			<key>msg</key>
			<string> 1 ano de video game gasta a    energia de metade de uma    arvore queimada.</string>
		</dict>
		<key>abajur</key>
		<dict>
			<key>msg</key>
			<string>3 horas de lâmpada acesa      custam cerca de 1 real.</string>
		</dict>
	</dict>
	<key>salaItemData</key>
	<array>
		<dict>
			<key>x</key>
			<real>0.825</real>
			<key>y</key>
			<real>0.589</real>
			<key>type</key>
			<string>televisão</string>
		</dict>
		<dict>
			<key>x</key>
			<real>0.476</real>
			<key>y</key>
			<real>0.84</real>
			<key>type</key>
			<string>luz</string>
		</dict>
		<dict>
			<key>x</key>
			<real>0.655</real>
			<key>y</key>
			<real>0.52</real>
			<key>type</key>
			<string>video_game</string>
		</dict>
		<dict>
			<key>x</key>
			<real>0.055</real>
			<key>y</key>
			<real>0.52</real>
			<key>type</key>
			<string>abajur</string>
		</dict>
	</array>
</dict>
</plist>
