<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>erros</key>
	<integer>5</integer>
	<key>banheiroItemConfigurations</key>
	<dict>
		<key>chuveiro</key>
		<dict>
			<key>msg</key>
			<string>Sabia que um banho gasta 135  litros de agua? Isso é quase o que um peixe de aquario       precisa pra viver!</string>
		</dict>
		<key>pia</key>
		<dict>
			<key>msg</key>
			<string>Você sabia que em um dia, uma goteira perde 46 litros de água? Isso é o que você bebe em 23 dias!!</string>
		</dict>
		<key>vaso</key>
		<dict>
			<key>msg</key>
			<string>Você precisa queimar uma arvore inteira para manter uma lampada acesa por 3 meses.</string>
		</dict>
		<key>luz</key>
		<dict>
			<key>msg</key>
			<string>Você precisa queimar uma arvore inteira para manter uma lampada acesa por 3 meses.</string>
		</dict>
	</dict>
	<key>banheiroItemData</key>
	<array>
		<dict>
			<key>x</key>
			<real>0.415</real>
			<key>y</key>
			<real>0.8149999999999999</real>
			<key>type</key>
			<string>luz</string>
		</dict>
		<dict>
			<key>x</key>
			<real>0.65</real>
			<key>y</key>
			<real>0.8149999999999999</real>
			<key>type</key>
			<string>vaso</string>
		</dict>
		<dict>
			<key>x</key>
			<real>0.86</real>
			<key>y</key>
			<real>0.78</real>
			<key>type</key>
			<string>chuveiro</string>
		</dict>
		<dict>
			<key>x</key>
			<real>0.525</real>
			<key>y</key>
			<real>0.608</real>
			<key>type</key>
			<string>pia</string>
		</dict>
	</array>
</dict>
</plist>
